*{
    background-color: black;
}
b{
    color:aqua;
}
.h1{
    letter-spacing: 10px;
    border-radius: 50%;
    background-color: white;
    background-image:linear-gradient(red ,yellow,green ,pink,orange);
    text-decoration: underline;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
}
.h2{
    color:antiquewhite;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.q{
   font-size: xx-large;
   color:blue;
}
.ans{
    
    font-size: xx-large;
    color: green;
}