*{
    background-color: black;
}
b{
    color:aqua;
}
.h2{
    color:antiquewhite;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}
.q{
   font-size: xx-large;
   color:blue;
}
.ans{
    
    font-size: xx-large;
    color: green;
}